body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #1E1E1E; 
    color: white;
    padding: 0;
    height: 100vh; 
    width: 100%;
    overflow-x: hidden; 
    overflow-y: auto; 
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
    padding: 20px;
    background: linear-gradient(124deg, rgba(242,143,79,1) 0%, rgba(90,80,108,1) 83%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
}

.navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.365);
    padding: 20px;
    display: flex; 
    justify-content: flex-end;
    border-radius: 15px;
    flex-shrink: 0;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 1080px) {
    .navbar {
        display: none; 
    }
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    font-size: 1rem; 
}

.navbar ul li a:hover {
    color: #000000;
    background-color: #F1E8B8;
    padding: 10px;
    border-radius: 10px;
}

.content {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap; 
    margin-top: 50px;
    gap: 50px;
    width: 100%;
}

.profile-picture {
    border-radius: 0%;
    overflow: hidden;
    width: 100%;
    max-width: 450px;
    height: auto; 
    border: none;
}
.profile-picture img {
    width: 95%;
    height: auto; 
    object-fit: cover;
    margin-left: 5%;
}

.name img {
    width: 95%;
    max-width: 450px; 
    height: auto;
    display: block;
    margin: 10px 0;
}

.intro p {
    color: #ffffff;
    font-weight: bold;
    text-align: center; 
}

.custom-button img {
    width: 100%;
    max-width: 180px;
    height: auto;
    display: block;
}

.custom-button {
    text-decoration: none;
    display: inline-block;
    margin-top: 0px;
}

@media (max-width: 1080px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
    }
    
    .home-button img,
    .menu-button img {
        width: 50px; 
        height: auto; 
    }

    .menu-button {
        display: grid; 
        cursor: pointer;
    }

    .navbar.active {
        display: flex; 
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px 0;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 0;
    }

    .navbar ul li {
        display: block; 
    }

    .content {
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        gap: 20px;
        width: 100%;
    }

    .profile-picture {
        width: 80%; 
        max-width: none; 
        margin: 0 auto; 
    }

    .name img {
        width: 80%; 
        height: auto; 
        margin: 0 auto; 
    }

    .custom-button img {
        width: 190px; 
    }

    .intro p {
        text-align: center; 
        padding: 0 10px; 
    }
}

@media (min-width: 1081px) {
    .header {
        display: none; 
    }
}

@media (orientation: landscape) {
    body {
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .container {
        min-height: 100vh;
        width: 100%;
        max-width: 100%; 
        background: linear-gradient(124deg, rgba(242,143,79,1) 0%, rgba(90,80,108,1) 83%);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .navbar, .content {
        width: 100%;
    }
}

