body {
    margin: 0;
    font-family: 'Monsterrat', sans-serif;
    background-color: #1E1E1E;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-image: url(https://res.cloudinary.com/diws5bcu6/image/upload/v1724476446/Dawn_1_xw8ecc.png); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white;
}


.navbar {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.365);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    font-size: large;
}

.navbar ul li a:hover {
    color: #000000;
    background-color: #F1E8B8;
    padding: 10px;
    border-radius: 10px;
    box-shadow: black;

}

.content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    gap: 50px;
}

.profile-picture {
    margin-right: 50px;
    border-radius: 0%;
    overflow: hidden;
    width: 450px;
    height: 390px;
    border: none;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name img {
    width: 450px; 
    height: auto; 
    display: block; 
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
}


.intro p {
    color: #ffffff;
    font-style: bold;
}

.custom-button img {
    width: 180px; 
    height: auto; 
    display: block; 
}

.custom-button {
    text-decoration: none; 
    display: inline-block; 
    margin-top: 0px;
}

